#divForm {
    display: 'block';
    z-index: 0;
    /* border: solid 1px blue;
    background-color:orangered; */

}

#divSettings {
    display: none;
    z-index: 10;
    border: solid 1px blue;
    background-color:orangered;
    /*transform: translate(-10px, 200px);     */
}

.lineBreakID {
    display: block;
    margin-top: 1.5%; /* line gap height*/
}