/* .intLink {
	cursor: pointer;
	text-decoration: underline;
	color: #0000ff;
  } */

  /* textarea {
	min-height: 5em;
	max-height: 50vh;
	width: 100%;
} */

/****************************************************************/
.textAreaControlPanelWrapper {
	width: 800px;
	height: 100px;
	border: 2px purple solid;
}
  
.textAreaContentWrapper {
	width: 800px;
	height: 80px;
	margin-top: 0px;
	background-color: yellow;
	position:relative;
	border: 2px green solid;
	/* z-index:-1; */
  }
