.li-txtAreaButton {
	display: inline-block;  /* horizontal listing */	
	color: white;
	text-align: center;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	background-image: url(../images/wmd-buttons.svg);
	background-position: 0 0;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	cursor: pointer;
}

#li-bold-txtAreaButton {
	background-position: 0px 0px;
}
#li-italic-txtAreaButton {
	background-position: -20px 0px;
}
#li-code-txtAreaButton {
	background-position: -80px 0px;
}
#li-image-txtAreaButton {
	background-position: -100px 0px;
}

.ul-txtAreaButton {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: SILVER;
}

#txtAreaId {
	min-height: 5em;
	max-height: 50vh;
	width: 100%;
	padding: 0;
}

/* post your answer button */
.postYourAnswerBtn {
	border: none;
	color: white;
	padding: 14px 28px;
	font-size: 24px;
	cursor: pointer;
	width: 12em;
	background-color: #F08;
  }
  
.success {background-color: #F08;}
.success::after { 
	background-color: #F08;
	content:'Post Your Answer';
}
.success:hover:after {  /*:hover and :after are Psuedo Elements */
	background-color: rgb(20, 233, 109);
	content:'Thanks !';
}
.success:hover { background-color: rgb(20, 233, 109); }
