
#textAreaPreviewer {
	white-space: pre; /* any white-space in the element should appear exactly as it does in the textarea */
	background-color: #4caf50;
}

/****************************************************************/
.textAreaCommon {
	min-height: 5em;
	max-height: 50vh;
	width: 100%;
}

.textAreaControlPanelWrapper {
	border: 2px purple solid;
}

.divImgDlgBoxWrapper {
	border: 2px green solid;
}
  
.textAreaContentWrapper {
	margin-top: -16px;
	background-color: yellow;
	position:relative;
  }
